<% include _header%>

<h1>Registro</h1>

<form action = "/re-weapons" method="post">
    <div class ="form-group">
        <input name="description" type="text" class="form-control"
        placeholder="Descripción" required autofocus/>
    </div>
    <div class="form-group">
        <input name="force" type="text" class="form-control"
        placeholder="Fuerza" required/>
    </div>
    <div class ="form-group">
        <input name="category" type="text" class="form-control"
        placeholder="Categoria" required autofocus/>
    </div>
    <label  class="col-form-label">Municion</label>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="ammo" id="exampleRadios1" value="true" checked>
    <label class="form-check-label" for="exampleRadios1">
        Municion
    </label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="ammo" id="exampleRadios2" value="false">
    <label class="form-check-label" for="exampleRadios2">
        Sin Municion
    </label>
    </div>
    
        <input type="submit" value="Registrarse" class="btn btn-primary btn-block"/>
    
</form>

<% include _footer%>