<% include _header %>
<h1> Mostrar Armas</h1>

<% weapons.forEach((weapon)=>{ %>
<div class="panel panel-default">
    <div class="panel-heading">
        <a>
        <label  class="col-form-label">Arma:</label>
            <%= weapon.description %>
        </a>
    </div>
    <div class="row">
        <label  class="col-md-1 col-form-label">Fuerza:</label>
        <label  class="col-form-label"><%= weapon.force %></label>
    </div>
    <div class="row">
        <label  class="col-md-1 col-form-label">Categoria:</label>
        <label  class="col-form-label"><%= weapon.category %></label>
    </div>
    <div class="row">
        <label  class="col-md-1 col-form-label">Municion:</label>
        <label  class="col-form-label"><%= weapon.ammo %></label>
    </div>
    </div>
    <% }) %>

    <% include _footer %>