<!DOCTYPE <html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext" rel="stylesheet">
        <script src="JS/jquery-3.2.1.js"></script>
        <script src="JS/Main.js"></script>
        
    </head>
    <body>
        <header>
            <span id="button-menu" class="fa fa-bars">    
            </span>
            <nav class="navegacion">
                 <ul class="menu" >
                    <!-- TITULAR -->
                    <li class="title-menu pacifico ">ZOMBIES V-RGAS</li>
                    <!-- TITULAR -->
                    
                        <li><a href="Inicio.html"><span class="fa fa-home icon-menu"></span> Zombies</a></li>
                        <li class="item-submenu" menu="1">
                            <a href="#"><span class=" fa fa-suitcase icon-menu"></span> Clases</a>
                            <ul class="submenu">
                                <li class="title-menu"><span class=" fa fa-suitcase icon-menu"></span> Clases</li>
                                <li class="go-back">Atras</li>
                                <li><a href="Nissan.html">Wich</a></li>
                                <li><a href="Chevrolet.html">Booomer</a></li>
                                <li><a href="Ford.html">Tank</a></li>
                                <li><a href="Ford.html">Hunter</a></li>
                            </ul>
                    </li>
                    
                    <li class="item-submenu" menu="2">
                        <a href="#"><span class="fa fa-laptop icon-menu"></span>Armas</a>
                        <ul class="submenu">
                            <li class="title-menu"><span class=" fa fa-laptop icon-menu"></span> Armas</li>
                            <li class="go-back">Atras</li>
                            <li><a href="Info.html">Tipos de armas</a></li>
                        </ul>     
                    </li>
                    
                    <li class="item-submenu" menu="3">
                        <a href="#"><span class="fa fa-laptop icon-menu"></span> Victimas</a>
                      <ul class="submenu">
                            <li class="title-menu"><span class=" fa fa-laptop icon-menu"></span> Victimas</li>
                            <li class="go-back">Atras</li>
                            <li><a href="Tabla.html">Info de las victimas</a></li>
                    
                </ul> 
            </li>
            </nav>
            
        </header>
        <div class="col-md-3 center-block quitar-float text-center espacio-arriba" id="principal">
             <img src="LogoRRent.png" class="animated light lightSpeedIn">
             <h1 class="pacifico grande color-azulito animated fadeIn retraso-1">ZOMBIES V-RGAS</h1>
             <br>
             <h1 class="pacifico grande color-azulito animated fadeIn retraso-1">CEREBROOOOOOOOS</h1>
        </div>
