<!DOCTYPE html>
<html>
<head>
<meta charser="utf-8">
<title> Temperature by ZIP code </title>
<link rel="stylesheet"
href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<link rel="stylesheet"
href="/main.css">

